<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page Attributes -->
	<title>Comp Sci Corner | Make a Submission</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap and Dependencies -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="bg-light">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#003098">
			<a class="navbar-brand" href="submit.html"><h2 style="font-family:'Share Tech Mono','Lucida Console',Monaco,monospace">Comp Sci Corner</h2></a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
						Make a Submission
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="submit-project.html">Submit a Project</a>
						<a class="dropdown-item" href="submit-event.html">Submit an Event</a>
					</div>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Visit Display</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Admin Tools</a>
				</li>
			</ul>
		</nav>
		
		<div class="container text-center justify-content-center" style="margin-top:150px;margin-bottom:100px;margin-left:auto;margin-right:auto">
			<h1>Select a submission option below:</h1>
		</div>
		
		<div class="card-deck justify-content-center">
			<a href="submit-project.html">
				<div class="card shadow rounded btn-primary" style="width:400px;background-color:#003098">
					<div class="card-body text-center">
						<img class="card-img-top" src="tmp.png" width="300" height="300" alt="" />
						<h3 class="card-title">Submit a Project</h3>
					</div>
				</div>
			</a>
			<a href="submit-event.html">
				<div class="card shadow rounded btn-primary" style="width:400px;background-color:#003098">
					<div class="card-body text-center">
						<img class="card-img-top" src="tmp.png" width="300" height="300" alt="" />
						<h3 class="card-title">Submit an Event</h3>
					</div>
				</div>
			</a>
		</div>
		
		<div class="container-fluid p-1 fixed-bottom" style="background-color:#003098">
			<p class="text-white m-2 card-text">Comp Sci Corner is the product of NCF students Austin LoPresto, Brian Hinshaw, and Kai Hall. Credit for the original info board goes to Brian Hinshaw, Nisanur Genc, and Saloanee Labh.</p>
		</div>
	</div>
</body>
</html>