<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Page Attributes -->
	<title>Comp Sci Corner | Submit a Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap and Dependencies -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#BAC2D1">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
			<a class="navbar-brand" href="submit.html"><h2 style="font-family:'Share Tech Mono','Lucida Console',Monaco,monospace">Comp Sci Corner</h2></a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="submit.html" id="navbardrop" data-toggle="dropdown">
						Make a Submission
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Submit a Project</a>
						<a class="dropdown-item" href="#">Submit an Event</a>
					</div>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Visit Display</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Admin Tools</a>
				</li>
			</ul>
		</nav>
		
		<div class="container justify-content-center w-75 py-5 bg-white border shadow" style="margin-top:150px;margin-bottom:100px;margin-left:auto;margin-right:auto;">
			<h1 class="text-center">Submit a Project</h1>
			<br/><hr class="w-75"/><br/>
			<form name="submit-project" action="#" method="post" enctype="multipart/form-data" style="margin-left:10%">
				<div class="form-group custom-control-inline w-75">
					<label for="name" class="h3 mr-3 w-50">Your Name: </label>
					<input type="text" class="form-control bg-light" placeholder="Enter name" id="name" name="name" required>
				</div><br/>
				<div class="form-group custom-control-inline w-75">
					<label for="email" class="h3 mr-3 w-50">Your Email: </label>
					<input type="email" class="form-control bg-light" placeholder="Enter email" id="email" name="email" required>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input bg-light" id="display-email" name="display-email">
					<label class="custom-control-label h5" for="display-email">Display my email with my project on the comp sci board</label>
				</div>
				<div class="form-group custom-control-inline w-75 mt-4">
					<label for="aoc" class="h3 mr-3 w-50">Your AOC: </label>
					<input type="text" class="form-control bg-light" placeholder="Enter AOC" id="aoc" name="aoc" required>
				</div><br/>
				<div class="form-group custom-control-inline w-75">
					<label for="choose-image" class="h3 mr-3 w-75">Your Picture (Optional): </label>
					<div class="custom-file custom-control-inline">
						<input type="file" class="custom-file-input" id="choose-image" name="profile-pic">
						<label class="custom-file-label bg-light" for="choose-image">Choose File</label>
					</div>
				</div><hr class="w-75" style="margin-left:5%"/>
				<div class="form-group custom-control-inline w-75">
					<label for="title" class="h3 mr-3 w-75">Title of Your Project: </label>
					<input type="text" class="form-control bg-light" placeholder="Enter title" id="title" name="title" required>
				</div><br/>
				<div class="form-group">
					<label for="description" class="h3">Tell us about your project in 1-2 sentences: </label>
					<textarea rows="3" maxlength="150" class="form-control bg-light w-75" placeholder="1-2 sentences (140 characters)." id="description" name="description" required>
					</textarea>
				</div>
				<div class="form-group">
					<label for="choose-trailer" class="h3 mr-3 w-75">Add a picture or 10-20 second video: </label>
					<div class="custom-file custom-control-inline">
						<input type="file" class="custom-file-input" id="choose-trailer" name="trailer">
						<label class="custom-file-label bg-light w-50" for="choose-trailer">Choose File</label>
					</div>
				</div>
				<div class="form-group">
					<label for="link" class="h3">Add a short link to your project (optional): </label>
					<input type="url" class="form-control bg-light w-50" placeholder="Enter URL" id="link" name="link" required>
				</div><br/>
				<div class="text-center" style="margin-left:-5%"><button type="submit" class="btn-lg btn-primary">Submit</button></div>
			</form>
		</div>
		
		
		<div class="bg-primary fixed-bottom">
			<p class="text-white m-2 card-text">Comp Sci Corner is the product of NCF students Austin LoPresto, Brian Hinshaw, and Kai Hall. Credit for the original info board goes to Brian Hinshaw, Nisanur Genc, and Saloanee Labh.</p>
		</div>
	</div>
</body>
</html>